
@if (String.IsNullOrWhiteSpace(Message) == false)
{
    <div class="col-md-12 banner">
        <button @onclick="@Dismiss" class="float-right btn">x</button>
        @Message
    </div>
}

@code {

    [Parameter] public String Message { get; set; }
        
    private void Dismiss()
    {
        Message = null;
    }
}